.seButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;

    position: static;
    width: 221px;
    height: 50px;
    left: 0px;
    top: 0px;

    box-sizing: border-box;
    /* Shadow */

    filter: drop-shadow(0px 20px 50px rgba(191, 21, 108, 0.05));
    border-radius: 20px;
    background-color: blue;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px ;
    margin-left: 30px;

}
.button{

display: flex;
flex-direction: row;
align-items: center;
padding: 16px 24px;

position: static;
width: 221px;
height: 50px;
left: 0px;
top: 0px;

box-sizing: border-box;
/* Shadow */

filter: drop-shadow(0px 20px 50px rgba(191, 21, 108, 0.05));
border-radius: 20px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 24px ;
margin-left: 30px;
}

.logo{
    position: static;
    width: 154px;
    height: 98.48px;
    left: 96px;
    top: 68px;
    margin-left: 97px;
    margin-top: 61px;
    margin-bottom: 20px;
}

.icon{
    /* Vector */


position: absolute;
left: -120px;
right: 8.33%;
top: 6px;
bottom: 8.33%;

}
.titleOfButton{
    /* Dashboard */


position: absolute;
width: 120px;
height: 22px;
left: 68px;
top: 13px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #8E8EA1;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}

#MenuBar{
position: absolute;
width: 345px;
height: 933px;
left: 0px;
top: 0px;

background: white ;    
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));   
border-bottom-style: hidden;
}
.List{
    margin-left: 33px;
}