@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@300&display=swap');
body{
   /* Basic Project */
    position: relative;
    width: 1920px;
    height: 1111px;
    background: #F9F9F9;
}

h1{
    Font-family: Inter;
    Font-style: Bold;
    Font-size: 36px;
    Line-height: 44px;
    Line-height: 100%;
}

h2{
    Font-family: Inter;
    Font-style: Bold;
    Font-size: 24px;
    Line-height: 29px;
    Line-height: 100%;
    padding: 15 0 0 40;
}

.navbar{
    position: absolute;
    width: 345px;
    height: 1111px;
    left: calc(50% - 345px/2 - 787.5px);
    top: 0px;
    /* White */
    background: #FFFFFF;
}
.logo {
    position: absolute;
    margin-top: 43.26px;
    margin-left: 90px;
    width: 19px;
    padding: 9px;
    border-radius: 10px;
    background-color: #6160DC;
}

.title{
    text-decoration: none;
    font-weight: 700;
    /* Tagih */
    position: absolute;
    width: 141px;
    height: 72px;
    left: 133.5px;
    top: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    /* Black */
    color: #22242C;
}





ul {
    list-style-type: none;
}
.menu {
    position: relative;
    /* margin-left: 120px; */
    margin-top: 171px;
}

.current{
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    /* padding: 100px 0 100px; */
    padding-bottom: -38px !important;
}

.semilogo{
    /* position: relative; */
    margin-right: 1.5em;
    width: 30px;
}

.semilog1{
    /* position: relative; */
    margin-right: 20px;
    background-color: #6160DC;
    border-radius: 100%;
    padding: 8px;
    width: 24px;
    margin-left: -6px;
}

.li1{
    /* margin:3em 0em 3em -4em; */
    display: flex;
    /* padding-right: 15%; */
    padding-bottom: 15%;
}

.news{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 30%;
}
.item1{
    padding: 20 ;
    border-style: solid;
    border:30;
    border-radius: 40px;
    width: 150px; 
    color: #6160DC;
}
.fontnew1{
    text-decoration: none;
    Font-family: Poppins;
    Font-style: Regular;
    Font-size: 18px;
    Line-height: 27px;
    Line-height: 100%;
    margin-left: 20%;
    padding-right: 20px;
}
.item2{
    background-color: #6160DC;
    margin-left: 20;
    padding: 20 ;
    border-style: solid;
    border:30;
    border-radius: 40px;
    width: 200px; 
    color: #6160DC;
}
.fontnew2{
    text-decoration: none;
    Font-family: Poppins;
    Font-style: Regular;
    Font-size: 18px;
    Line-height: 27px;
    Line-height: 100%;
    margin-left: 15%;
    padding-right: 20px;
    color: #F9F9F9;
}

.hero{
    position: absolute;
    width: 1477px;
    height: 837px;
    left: 393px;
    top: 234px;
    background-color: #FFFFFF;
    border-radius: 40px;
    margin-top: 20;
}
.content-table{
    position: absolute;
    margin-top: 18%;
    margin-left: 20%;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
}
.checkon{
    background-color: #6160DC;
    padding: 4;
    border-radius: 4px;
    display: flex;
}
.content-table tr,
.content-table td {
    font-family: Inter;
    font-size: 18;
    top: 50%;
    left: 50%;
    padding: 32 37 32 37;   
}

.content-table tr,td{
    border-bottom: 1px solid #dddddd;
}
.content-table th{
    padding-bottom: 20;
}

.recip{
    width: 290;
    height: 50;
    display: flex;
}

.tdimg{
    padding: 0 20 0 20;
}

.status{
    padding: 20 ;
    background-color: #6160DC;
    border:30;
    border-radius: 40px;
    width: 160px; 
    color: #FFFFFF;
    font-size: 14px;
}

.comment {
    position: absolute;
    bottom: 5%;
    left: 23%;
    width: 1400;
    height: 50;
}

.text1 {
    font-family: Inter;
    font-size: 14;
    position: relative;
    top: 64%;

}

.ico{
    margin-left: 84%;
    margin-top: -2%;
    display: flex;
}
.item22{
    background-color: #6160DC;
    border-style: solid;
    border:20;
    border-radius: 40px;
    width: 16px; 
    color: #6160DC;
    padding: 10;
}
.fontnew22{
    text-decoration: none;
    Font-family: Inter;
    Font-size: 18px;
    padding: 13;
    Line-height: 27px;
    Line-height: 100%;
    margin-left: 20%;
    padding-right: 20px;
    color: #F9F9F9;
}
.item11{
    padding: 10;
    border-style: solid;
    border: 2px solid #8E8EA1;
    box-sizing: border-box;
    border-radius: 40px;
    color: #6160DC;
    margin-right: 9px;
}
.fontnew11{
    text-decoration: none;
    Font-family: Inter;
    Font-style: Regular;
    Font-size: 18px;
    Line-height: 27px;
    Line-height: 100%;
    margin-left: 20%;
    padding-right: 8px;
}
.ulend{
    display: flex;
    padding: 10 10 10 10;
}

.author{
    right: 19%;
    bottom: 18%;
    position: absolute;
    font-family: 'POPPINS';
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.author1{
    right: 26%;
    bottom: 15%;
    position: absolute;
    font-family: 'POPPINS';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.bao{
    display: flex;
    position: absolute;
    width: 1420px;
    height: 60px;
    top: 30px;
    /* left: calc(50% - 600px/2 - 265px); */
    top: 5%;
    left: 20%;
}

.searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0px 2px 2%;
    position: absolute;
    width: 600px;
    height: 60px;
    border-radius: 40px;
    background: #FFFFFF;
}
.khoi{
    display: flex;
    width: 600px;
    height: 60px;
    left: 74%;
    position: absolute;
}

.khoi img{
    margin: 0 10 0 10;
    padding: 15;
    border-radius: 20;
    border: solid;
    border-radius: 21;
    border-radius: 100px;
    border-collapse: collapse;
    border-color: gray;
}

.rara{
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-top: 3%;
    margin-left: 3%;
}

.inputsty{
    border: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
}