.content-container{
    float: right;
    background-color: aquamarine;
    position: relative;
}
.image {
    height: 48;
    width: 48;
    border-radius: 40px;
}
.search-notification-container{
    width: 1475;
    height: 60;
    margin-left: 50;
    top: 30;
    float: right;
}

.search-bar{
    float: left;
    height: 60;
    width: 600;
    background-color: white;
    border-radius: 40px;
    text-align: center;
    display: flex;
    padding-left: 32;
    justify-content: flex-start;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #8E8EA1;
}

.search-input{
    outline: none;
    height: 60;
    width: 100%;
    border-radius: 0 40px 40px 0;
    text-decoration: none;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: black;
}

.notification-bar{
    display: inline-flex;
    justify-content: center;
    float: right;
    height: 60;
    width: 397;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.notification-item{
    position: relative;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    height: 56;
    width: 56;
    border-radius: 40px;
    border: 2px solid #8E8EA1;
}

.name{
    margin-left: 96; 
    position: relative;
    justify-content: center;
    display: inline;
    align-items: center;
    height: 56;
}

.transaction-title{
    display: inline-flex;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20;
    position: absolute;
    width: 1600;
    height: 44px;
    left: 395px;
    top: 150px;
    border: 2px;
}

.new-combobox-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 43px;
    width: 207px;
    height: 60px;
    border: 2px solid #6160DC;
    border-radius: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #6160DC;
    margin-right: 23px;
}

.download-combobox-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 43px;
    width: 220px;
    height: 60px;
    background: #6160DC;
    border-radius: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: white;
}

.table-container{
    position: absolute;
    background-color: white;
    width: 1477px;
    height: 873px;
    border-radius: 40px;
    top: 234px;
    left: 393px;
    font-family: Inter;
}

.table-title{
    margin-top: 32px;
    margin-left: 32px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}
table{
    border-collapse: collapse;
}
.table{
    margin-top: 40px;
    margin-left: 40px;
}
tr {
    width: 1477px;
    height: 112px;
    border-bottom: 1px solid #F5F5F5;
}
.table-checkbox:checked{
    background-color: #6160DC;
}
.table-checkbox{
    height: 24px;
    width: 24px;
}


.avatar-and-infor{

    margin: 0 0 0 30;
    height: 48;
    width: 275px;
    display: inline-flex;
    align-items: center;
}

.info{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.email{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color:#8E8EA1;
}

.invoice{
    padding: 0px 47px 0px 47px;
    margin-right: 94px;
}

.date{
    padding: 0px 47px 0px 47px;
}

.amount{
    padding: 0px 59px 0px 47px;
}
.location{
    padding: 0px 58px 0px 59px;
}

.status:hover{
    border: 2px solid white;
}
.status {
    border: 2px solid gray;
    margin: 0px 45px 0px 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6160DC;
    width: 110;
    height: 48;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border-radius: 40px;
    color: white;
}
.unstatus {
    border: 2px solid gray;
    margin: 0px 45px 0px 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 110;
    height: 48;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border-radius: 40px;
    color: white;
}
.table-footer{
    margin-left: 32;
}
.page{
    margin-left: 954px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.selected-page-button{
    margin: 0px 8px 0px 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50;
    width: 50;
    border-radius: 40px;
    background-color: #6160DC;
    font-weight: 400;
    font-size: 18px;
    color: white;
    
}
.unselected-page-button{
    border: 2px solid grey;
    margin: 0px 8px 0px 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50;
    width: 50;
    border-radius: 40px;
    font-weight: 400;
    font-size: 18px;
    color: grey;
    
}