body{
    background-color: #E5E5E5;
}

#logo{
    height: 48px;
    width: 48px;
    background-color: #6160DC;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;

}
#icon{
    display: inline;
}
.menu-container{
    position: absolute;
    background-color: white;
    float: left;
    height: 1111px;
    width: 345px;
    text-align: center;
}
.logo-container{
    position: relative;
    margin-top: 30;
    margin-left: 70.25;
    margin-right: 70.25;
    height: 72px;
    width: 204.5px;
    text-align: center;
    font-family: Poppins;
    font-size: 24;
    font-weight: bolder;
}

.menu-option-container{
    margin-top: 24;
    position: relative;
    margin-bottom: 209;
}
.menu-option{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Poppins;
    color: #8E8EA1;
    font-size: 18;
    font-weight: 600;
    margin-left: 46px;
    margin-right: 47px;
    margin-bottom: 24px;
    height: 64px;
    width: 252px;
}
.information-container{
    display: inline;
    height: 57;
    width: 250;
}
.information-title{
    margin-bottom: 15;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14;
    color: #A098AE;
}
.information-content{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #A098AE;
}